
  <div class="container mt-5 px-2">
    <div class="row">
     <div class="col-3" *ngFor="let form of list">
 
         <div class="card mb-4" style="width: 18rem;">
             <div class="card-body">
               <h5 class="card-title text-center">Requirement: {{form.requirementName}}</h5>
               <h6 class="card-text">Training Area: {{form.trainingArea}}</h6>
               <h6 class="card-text">Institution/Corporate office: {{form.institution}}</h6>
               <h6 class="card-text">Category: {{form.category}}</h6>
               <h6 class="card-text">No. of hours of training:{{form.trainingHours}}</h6>
             
               
             
             </div>
           </div>
 
     </div>
 
    </div>
 
 </div>
 

 
 