<!--Faculty Dashboard : post curriculums -->
<div class="create-curriculum">
    <ul class="nav nav-tabs">
        <li class="nav-link" routerLink="/faculty-dashboard/Rformfaculty">
          <span><i class="bi bi-arrow-left-circle"></i></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faculty-dashboard/curriculum-create/requirements" routerLinkActive="active">Requirements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faculty-dashboard/curriculum-create/details" routerLinkActive="active">Details</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/faculty-dashboard/curriculum-create/references" routerLinkActive="active">References</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>


