<!--Faculty Dashboard : post curriculums -->
<div class="create-curriculum">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="requirements" routerLinkActive="active">Requirements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="details" routerLinkActive="active">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="references" routerLinkActive="active">References</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>


