

<button class="btn btn-primary m-5 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> <i class="bi bi-list"></i></button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Welcome Admin</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>


<h2 class="text-primary mt-2">Add Requirements of Curriculum</h2>
<br>
<form [formGroup]="Rform" (ngSubmit)="onSubmit()">
  <div>
    <label for="requirementName">Name of Requirement:</label>
    <input type="text" id="requirementName" name="requirementName" formControlName="requirementName">
  </div>

  <div>
    <label for="trainingArea">Area where training is required:</label>
    <select id="trainingArea" name="trainingArea" formControlName="trainingArea">
      <option value="FSD">FSD</option>
      <option value="ML-AI">ML-AI</option>
      <option value="DSA">DSA</option>
      <option value="RPA">RPA</option>
      <option value="ST">ST</option>
      <option value="CSA">CSA</option>
    </select>
  </div>

  <div>
    <label for="institution">Institution/Corporate office:</label>
    <input type="text" id="institution" name="institution" formControlName="institution">
  </div>

  <div>
    <label for="category">Category of Requirement:</label>
    <select id="category" name="category" formControlName="category">
      <option value="Retail">Retail</option>
      <option value="Academic">Academic</option>
      <option value="Corporate">Corporate</option>
      <option value="Govt">Govt</option>
    </select>
  </div>

  <div>
    <label for="trainingHours">No. of hours of training:</label>
    <input type="number" id="trainingHours" name="trainingHours" formControlName="trainingHours">
  </div>

  <button type="submit">Submit</button>
</form>
