<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <div class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <div class="row">
                        <a href="#" class="nav-link">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"></span>
                        </a>                           
                    </div>
                </div>
                <div class="row">
                    <a routerLink="/faculty-dashboard" style="text-decoration:none">
                        <span class="fs-6 font-weight-semi-bold d-sm-inline">
                            <span id="facultyName">FACULTY</span> <!--Name of the user-->
                            DASHBOARD</span>
                    </a>
                </div>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="/faculty-dashboard/Rformfaculty" class="nav-link align-middle text-light px-0">
                            <i class="bi bi-ui-checks"></i><span class="ms-1 d-none d-sm-inline">Requirement Form</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/faculty-dashboard/curriculum-fetch" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light">
                            <i class='fas fa-book-reader'></i><span class="ms-1 d-none d-sm-inline">Curriculums</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a routerLink="/faculty-dashboard/approve" class="nav-link px-0"> <span class="d-none d-sm-inline text-light"> <i class="fa fa-check"></i>&nbsp;Approved</span> </a>
                            </li>
                            <li>
                                <a routerLink="/faculty-dashboard/pending" class="nav-link px-0"> <span class="d-none d-sm-inline text-light"><i class="fa fa-spinner fa-spin" style="font-size:20px"></i> &nbsp;Pending</span> </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class=" pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none" style="position:fixed;bottom: 5px;">
                        <span class="d-none d-sm-inline mx-1">Sign Out</span>
                    </a>
                    
                </div>
            </div>
        </div>
        <div class="col py-3 text-center bg-tertiary">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>