<div>

    <div class="form">
      <div class="container-fluid col-lg-6 col-md text-justify">
        <br><br>
        <form>
          <div class="form-group">
            <label for="facultyname" class="text-lg-start">Name of faculty</label>
            <input type="text" class="form-control" id="facultyname" required>
          </div>
          <div class="form-group">
            <label for="decription">Description</label>
            <!-- <input type="text" class="form-control" id="decription"  required> -->
            <textarea class="form-control" id="exampleTextarea" rows="8"></textarea>
          </div>
        
        </form>
  
      </div>
      </div>
      
  
  </div>
