<p>faculty-chat works!</p>
<h2>Faculty Chat</h2>

    <div class="col-4">
      <form id="form" #ChatForm="ngForm" (ngSubmit)="onSubmit()">
        <input id="input"  name="message" [(ngModel)]="message"><button type="submit">Send</button>
      </form>   
      <div *ngFor = "let chat of messages"  >
        <div [ngClass]="isSentMessage(chat.sender) ? 'label-faculty' : 'label-admin'">
            <label> {{chat.sender}} <br> {{chat.content}} <br> {{ formatTimestamp(chat.timestamp) }}</label>
        </div>
      </div>

    </div>
