<div>

    <div class="form">
      <div class="container-fluid col-lg-6 col-md text-justify">
        <br><br>
        <form>
          <div class="form-group">
            <label for="facultyname" class="text-lg-start">Requirement:</label>
            <input type="text" class="form-control" id="facultyname" required  disabled value="{{list.requirementName}}">
          </div>       
          <div class="form-group">
            <label for="facultyname" class="text-lg-start">Area of Training:</label>
            <input type="text" class="form-control" id="facultyname" required  disabled value="{{list.trainingArea}}">
          </div>       
          <div class="form-group">
            <label for="facultyname" class="text-lg-start">Institution/Corporate office</label>
            <input type="text" class="form-control" id="facultyname" required  disabled value="{{list.institution}}">
          </div>       
          <div class="form-group">
            <label for="facultyname" class="text-lg-start">Category:</label>
            <input type="text" class="form-control" id="facultyname" required  disabled value="{{list.category}}">
          </div>       
          <div class="form-group">
            <label for="facultyname" class="text-lg-start">Training Hours</label>
            <input type="text" class="form-control" id="facultyname" required  disabled value="{{list.trainingHours}}">
          </div>       
        </form>
        
        <div class="d-flex justify-content-end">
            <a routerLink="/faculty-dashboard/curriculum-create/details"  ><i class="bi bi-arrow-right-square-fill" style="font-size: 2rem; color: cornflowerblue;"></i></a>
        </div>

      </div>
      </div>
      
  
  </div>

